<div id="form-wrapper">
    <%= form_tag("/obituaries",:method => :get) do %>
        <div id="name-wrapper" class="field">
            <%= label_tag :search %><br/>
            <%= text_field_tag :search, params[:search] %>
        </div>
        <div id="date-wrapper" class="field">
            <%= label_tag :range, "Date range" %><br/>
            <%= select_tag :range, options_for_date_range(params[:range]), :include_blank => true %>
        </div>
        <%= submit_tag 'Search', :id => 'submit' %>
    <% end %>
</div>
<h2 id="match">Your search for <%= search_text(params[:search],@range) %> matched <%= @obituaries.search_count %> obituaries.</h2>
<ul>
<% @obituaries.compact.each do |obituary| %>
    <li class="<%= cycle('odd','even') %>">
        <strong><%= obituary.fullname %></strong><br/>
        <div class="column results-left">
            <strong>Born:</strong> <%= obituary.born_on %><br />
            <strong>Deceased:</strong> <%= obituary.died_on %><br />
            <strong>Obituary:</strong> <%= obituary.printed_on %>, <%= obituary.page %><br />
        </div>
        <div class="column results-right">
            <em><%= simple_format(obituary.notes.strip) %></em>
        </div>
    </li>
<% end %>
</ul>
<%= paginate(@obituaries) %>
