<div id="form-wrapper">
    <%= form_tag("/obituaries",:method => :get) do %>
        <div id="name-wrapper" class="field">
            <%= label_tag :search %><br/>
            <%= text_field_tag :search, params[:search] %>
        </div>
        <div id="date-wrapper" class="field">
            <%= label_tag :range, "Date range" %><br/>
            <%= select_tag :range, options_for_date_range(params[:range]), :include_blank => true %>
        </div>
        <%= submit_tag 'Search', :id => 'submit', :class => 'large awesome gray' %>
    <% end %>
</div>
<% if params[:search].present? || @range.present? %>
<h2 id="match">Your search for <%= search_text(params[:search],@range) %> matched <%= @obituaries.search_count %> obituaries.</h2>
<%= sortable("Sort by relevance") %> | <%= sortable("Sort alphabetically", :name) %>
<ul>
    <%= render :partial => 'obituary', :collection => @obituaries.compact %>
</ul>
<%= paginate(@obituaries) %>
<% end %>
