<p id="notice"><%= notice %></p>

<p>
  <b>Last name:</b>
  <%= @obituary.last_name %>
</p>

<p>
  <b>First name:</b>
  <%= @obituary.first_name %>
</p>

<p>
  <b>Middle name:</b>
  <%= @obituary.middle_name %>
</p>

<p>
  <b>Other name:</b>
  <%= @obituary.other_name %>
</p>

<p>
  <b>Obituary printed on:</b>
  <%= @obituary.obituary_printed_on %>
</p>

<p>
  <b>Page:</b>
  <%= @obituary.page %>
</p>

<p>
  <b>Born on:</b>
  <%= @obituary.born_on %>
</p>

<p>
  <b>Died on:</b>
  <%= @obituary.died_on %>
</p>

<p>
  <b>Notes:</b>
  <%= @obituary.notes %>
</p>


<%= link_to 'Edit', edit_obituary_path(@obituary) %> |
<%= link_to 'Back', obituaries_path %>
