<%= form_for([:admin, @obituary]) do |f| %>
  <% if @obituary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@obituary.errors.count, "error") %> prohibited this obituary from being saved:</h2>

      <ul>
      <% @obituary.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :middle_name %><br />
    <%= f.text_field :middle_name %>
  </p>
  <p>
    <%= f.label :other_name %><br />
    <%= f.text_field :other_name %>
  </p>
  <p>
    <%= f.label :printed_on %><br />
    <%= f.date_select :printed_on %>
  </p>
  <p>
    <%= f.label :page %><br />
    <%= f.text_field :page %>
  </p>
  <p>
    <%= f.label :born_on %><br />
    <%= f.date_select :born_on %>
  </p>
  <p>
    <%= f.label :died_on %><br />
    <%= f.date_select :died_on %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
