<div class="actions">
    <%= button_to "Add New Obituary", new_admin_obituary_path, :method => :get, :class => 'large awesome left' %>
    <%= form_tag("/admin/obituaries",:method => :get, :class => 'right') do %>
        <%= text_field_tag :search, params[:search] %> <%= submit_tag 'Search', :class => 'large awesome gray' %>
    <% end %>
</div>
<ul>
    <%= render :partial => 'obituaries/obituary', :collection => @obituaries.compact %>
</ul>
<%= paginate(@obituaries) %>
